<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <title>CGTA Index</title>
		<style>
			table {border-collapse:collapse}
			table td {word-wrap:break-word}
			h1 {color: blue; font-family: cambria}
		</style>
    </head>
	
	<body>
		<table style="width:100%">	
			<tr>
				<td>
					<img src="{% static "images/logo_long.jpeg" %}" alt="input image" style="border:0;" align = "center">
				</td>
				<td style = "font-size:100%">About</td>
				<td style = "font-size:100%">Docs</td>
			</tr>
		</table>
	</body>
</html>